[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "14.2.0"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
